.LoginForm {
  color: white;
  height: 300px;
  width: 400px;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 50px auto;

  form {
    input {
      width: 200px;
      margin: 10px auto;
    }

    button {
      width: 33%;
      margin: 0px auto;
    }
  } //form
} //loginForm

.BubblePageStyle {
  display: flex;
} //BubblePageStyle
